<form action="/wizard_add">
<h1>New addition</h1>
<div>
  <label for="n1">
    Add this:
  </label>
  <input id="n1" type="float" name="n1">
  <label for="n2">
    to this:
  </label>
  <input id="n2" type="float" name="n2">
  <button> Add! </button>
</div>
</form>
