<h1>Addition</h1>
<dl>
  <dt>First Number</dt>
  <dd> <%= @n1 %> </dd>
  <dt>Second Number</dt>
  <dd> <%= @n2 %> </dd>
  <dt>Result</dt>
  <dd> <%= @n1+@n2 %></dd>
</dl>
<a href="/add">Do another addition</a>
