<form action="/wizard_divide">
<h1>New division</h1>
<div>
  <label for="n1">
    Divide this:
  </label>
  <input id="n1" type="float" name="n1">
  <label for="n2">
    by this:
  </label>
  <input id="n2" type="float" name="n2">
  <button> Divide! </button>
</div>
</form>
