<form action="/wizard_multiply">
<h1>New multiplication</h1>
<div>
  <label for="n1">
    Multiply this:
  </label>
  <input id="n1" type="float" name="n1">
  <label for="n2">
    by this:
  </label>
  <input id="n2" type="float" name="n2">
  <button> Multiply! </button>
</div>
</form>
