<h1>Subtraction</h1>
<dl>
  <dt>First Number</dt>
  <dd> <%= @n1 %> </dd>
  <dt>Second Number</dt>
  <dd> <%= @n2 %> </dd>
  <dt>Result</dt>
  <dd> <%= @n2 - @n1 %></dd>
</dl>
<a href="/subtract">Do another subtraction</a>
