<form action="/wizard_subtract">
<h1>New subtraction</h1>
<div>
  <label for="n1">
    Subtract this:
  </label>
  <input id="n1" type="float" name="n1">
  <label for="n2">
    from this:
  </label>
  <input id="n2" type="float" name="n2">
  <button> Subtract! </button>
</div>
</form>
